.formFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginSignupFormHeader {
  background-image: url("https://images.unsplash.com/photo-1530982011887-3cc11cc85693?ixlib=rb-1.2.1&w=1000&q=80");
  padding: 30px;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.loginSignupFormHeader > button {
  margin-left: auto;
}
h1 {
  margin: 0;
  color: white;
}
label {
  color: white;
}
button {
  background: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5%;
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
}
button:hover {
  background-color: orange;
  cursor: pointer;
}
