.timelinePosts {
  margin: 20px;
}
.timelinePosts > div {
  padding: 30px;
}

/*CSS import from RouterForm*/
#postModal {
  position: absolute;
  width: 100%;
  top: 0;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightgray;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  box-shadow: 5px 5px 5px black;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
.popup .close:hover {
  color: red;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.close {
  width: 10%;
  height: 20%;
}
.inputs {
  width: 60%;
  height: 10vh;
}
